@charset "UTF-8";

body
{
    margin: 30px;
    padding:0px;
    background-color:#CFFBCF;
    font-family: "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:20px;
    text-align:left;
}

#page
{
    max-width:1800px;
    margin: 20px auto;
    padding:30px;
    background-color:#CFFBCF;

}

#header/* Styles for Heading
    */
{
    padding:5px;
    background-color:#CFFBCF;
    text-align:center
}
img
{
    border: double 10px #CFFBCF;
}